
*.lock
*.cache
*.cache
*.cache
*.cache
*.cache
Architecture_Reminder/obj/Debug/Architecture_Reminder_MarkupCompile.i.cache
*.ide
*.ide-shm
*.ide-wal
Architecture_Reminder/bin/Debug/Architecture_Reminder.pdb
Architecture_Reminder/bin/Debug/EntityFramework.SqlServer.dll
Architecture_Reminder/bin/Debug/EntityFramework.dll
Architecture_Reminder/bin/Debug/DBModels.pdb
Architecture_Reminder/bin/Debug/DBModels.dll
Architecture_Reminder/bin/Debug/DBAdapter.pdb
Architecture_Reminder/bin/Debug/DBAdapter.dll
Architecture_Reminder/bin/Debug/Architecture_Reminder.exe
Architecture_Reminder/bin/Debug/Architecture_Reminder.vshost.exe
Architecture_Reminder/bin/Debug/FontAwesome.WPF.dll
Architecture_Reminder/bin/Debug/Tools.pdb
Architecture_Reminder/bin/Debug/Tools.dll
Architecture_Reminder/bin/Debug/Managers.pdb
Architecture_Reminder/bin/Debug/Managers.dll
Architecture_Reminder/obj/Debug/App.g.i.cs
Tools/bin/Debug/Tools.dll
Tools/bin/Debug/Tools.pdb
Tools/obj/Debug/Tools.csproj.FileListAbsolute.txt
Tools/obj/Debug/Tools.dll
Tools/obj/Debug/Tools.pdb
Managers/obj/Debug/Managers.csproj.FileListAbsolute.txt
Managers/obj/Debug/Managers.dll
Managers/obj/Debug/Managers.pdb
Managers/bin/Debug/Managers.dll
Managers/bin/Debug/Managers.pdb
Managers/bin/Debug/Tools.dll
Managers/bin/Debug/Tools.pdb
Architecture_Reminder/obj/Debug/App.g.i.cs
Architecture_Reminder/obj/Debug/App.g.i.cs
Architecture_Reminder/obj/Debug/Architecture_Reminder.csproj.FileListAbsolute.txt
Architecture_Reminder/obj/Debug/Architecture_Reminder_MarkupCompile.i.cache
Architecture_Reminder/obj/Debug/Architecture_Reminder.Properties.Resources.resources
Architecture_Reminder/obj/Debug/Architecture_Reminder.pdb
Architecture_Reminder/obj/Debug/Architecture_Reminder.g.resources
Architecture_Reminder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Architecture_Reminder/obj/Debug/Architecture_Reminder_MarkupCompile.lref
Architecture_Reminder/obj/Debug/Architecture_Reminder_MarkupCompile.i.lref
Architecture_Reminder/obj/Debug/Architecture_Reminder_MarkupCompile.i.cache
Architecture_Reminder/obj/Debug/Architecture_Reminder_MarkupCompile.i.lref
Architecture_Reminder/obj/Debug/Tools/Controls/LabelAndPasswordControl.g.i.cs
DBAdapter/obj/Debug/DBAdapter.csproj.FileListAbsolute.txt
DBAdapter/ReminderDBContext.cs
DBModels/obj/Debug/DBModels.csproj.FileListAbsolute.txt
